%h1 Спасибо что выбрали нас!
%p
  Ваш заказ принят и будет рассмотрен в ближайшем будущем. Для подтверждения заказа с Вами свяжется наш сотрудник.
  Детали заказа можете увидеть перейдя по ссилке
  %a{ href: "#{orders_url}" }= orders_url

%p
  С уважением, администриция.