.row
  .large-offset-4.medium-offset-3.small-12.medium-6.large-4.columns.device_page
    %h2= I18n.t('Sign to site')

    = render partial: 'devise/shared/login_form'

    = render 'devise/shared/links'
