{{#each categories}}
  <div class="medium-3 columns category-item">
    <div class="panel" data-equalizer-watch="" style="height: 264px;">
      <h3>{{category_name}}</h3>
      <p>
        <a class="productLink" href="/products?category={{category_path}}">
          Show more
        </a>
      </p>
    </div>
  </div>
{{/each}}
