//@import "icomoon.css";
@import "foundation-icons/foundation-icons.css";
@import "foundation.css";
@import "viktor/layout";
@import "token-input";

.row {
  max-width: 1600px;
}

#catalog {
  .main {
    .row .columns {
      padding: 0 5px;
    }
  }
}

html, body, .off-canvas-wrap, .inner-wrap, .main {
  height: 100%;
}

// vertical-dropdown
.vertical-dropdown {
  .top-bar-section .dropdown li a {
    font-size: 16px;
  }
  @media only screen and (min-width: 40.063em) {
    .top-bar-section .dropdown {
      min-width: 500px;
    }

    .top-bar-section .dropdown li {
      width: 25%;
      text-align: center;
    }
  }
}

header#topHeader {
  //margin-left: -200px;
  z-index: 10000;
  position: fixed;
  width: 100%;
}
.main {
  padding-top: 45px;
  margin-bottom: -33px;
}

footer {
  .panel {
    margin-bottom: 0px;
    padding: 3px;
  }
}

$sidebar-width: 200px;
.productLink {
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: $sidebar-width;
}

.inner-wrap {
  width: auto;
  position: relative;
  padding-left: 30px;
}

.sidebar-catalog-link {
  position: absolute;
  top: 70px;
  left: 0px;
  display: block;
  text-decoration: none;
  width: 300px;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #FFFFFF;
  //background-color: #007095;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover, &:focus, &:active {
    color: #FFFFFF;
  }

  text-decoration: none;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 12px;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 12px;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: 12px;
  -o-transform: rotate(90deg);
  -o-transform-origin: 12px;
  transform: rotate(90deg);
  transform-origin: 12px;
}

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  //height: 100%;
  top: 45px;
}


.top-bar .left-off-canvas-toggle {
  display: none;
  transition: all .25s ease-in-out;

  &:focus {
    color: #333;
  }
  &:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out;
  }
}

.move-right {
  .left-off-canvas-menu {
    width: $sidebar-width;
  }
  @media only screen and (max-width: 980px)  {
    .main {
      margin-right: -$sidebar-width;
    }
  }
}
.sign_up_form {
  label:after {
    color: #e32;
    content: ' *';
    display: inline;
  }
}

.move-right .exit-off-canvas {
  display: none;
}

.off-canvas-submenu {
  display: none;
}

.main {
  overflow: auto;
}

.productsList {
  .add-section {
    text-align: center;
    padding: 10px;
  }
}
.productsList, #product-page, #cart-page {
    .add-section {
      a {
        display: inline-block;
        vertical-align: middle;
        &.button {
          margin-bottom: 0;
          font-size: 14px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        .more {
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
        }
        .less {
          font-size: 30px;
          line-height: 30px;
        }
      }
      input {
        height: 33px;
        width: 51px;
        padding: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
      .priceBtn {
        div {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
}
.productsList [class*="columns"]:last-child{
  float: left;
}

.spinContainer {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  position: relative;
  display: block;
}

#orders-page {
  li.not-active {
    opacity: 0.5;
  }
}

.withTokenInput {
  width: 240px;
  .token-input-list {
    border: none;
    position: relative;
    top: 0.53125rem;
    width: 100%;
    .token-input-token {
      width: 100%;
      background: #fff;
      margin: 0;
    }
    .token-input-input-token {
      width: 100%;
      background: #fff;
    }
  }
}
.token-input-dropdown {
  z-index: 10000 !important;
}

.an_span {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}
.box {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  background-color: green;
}
.cart_link {
  position: relative;
  .badge {
    font-size: 12px;
    display: block;
    background-color: #007095;
    height: 21px;
    width: 21px;
    line-height: 21px;
    color: #fff;
    margin: initial;
    text-align: center;
    border-radius: 9px;
    margin-left: 5px;
    margin-bottom: -2px;
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 100;
    &.empty {
      display: none;
    }
  }
}

#product-page {
  background-color: #EDEFF0;
}
.paddingTopBottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row.product-page {
  padding-top: 30px;
  background-color: #EDEFF0;

  small {
    font-size: 14px;
  }
}
.allSeriesContainer {
  padding: 6px;
  .contentLink {
    display: block;
    .categoryContainer {
      color: #45515f;
      font-weight: bold;
      text-align: left;
    }
    &:hover {
      .categoryContainer {
        text-decoration: underline;
      }
      img {
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
    }
  }
  &:hover {
    background-color: #FAFAFA;
    //border: 1px solid #45515f;
    //border-radius: 6px;
    box-shadow: 0px 0px 18px 0px #cbcbcb;
    border: 1px solid #CBCBCB;
  }
}

.asideProductMenu, .main {
  transition: all 0.4s ease 0s;
}

.productsList .columns {
  position: relative;
}

.productsList .products .columns {
  height: 330px;
  margin-bottom: 10px;
}

.totalPrice {
  font-weight: bold;
  font-size: 18px;
}
.product-item {
  overflow: hidden;
  height: 330px;
}
.category-item {
  height: 180px;
}
.product-item {
  width: 100%;
  padding: 10px;
  //transition: all 0.4s ease 0s;
  animation-fill-mode: forwards;
  background: #ffffff;

  .image-container {
    height: 250px;
    width: 100%;
    .image {
      vertical-align: middle;
      img {
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .moreInfo {
    opacity: 0;
    height: 0;
    transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }
  &:hover {
    top: 0;
    left: 0;
    position: absolute;
    height: 427px;
    z-index: 3;

    -webkit-box-shadow: 0px 0px 18px 0px rgba(203,203,203,203.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(203,203,203,203.75);
    box-shadow: 0px 0px 18px 0px rgba(203,203,203,203.75);
    border: 1px solid #CBCBCB;
    //border-radius: 5px;

    .moreInfo {
      height: auto;
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }
  }
}
.displayTable {
  display: table;
}
.displayTableCell {
  display: table-cell;
}

.clearBoth {
  clear: both;
}

.images_galery img {
  margin: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.grid-item--width2,
.grid-item {
  border: 1px solid #8C8C8C; /* !test */
  img {
    //padding-top: 10px;
    //margin-bottom: -10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

$bg-color: #2c3e50;

.asideProductMenu {
  background: lighten($bg-color, 50);
  ul.off-canvas-submenu {
    margin-bottom: 5px;
    margin-left: 5px;
    li a {
      //padding-left: 0;
    }
  }
  .off-canvas-list {
    li {
      line-height: 16px;
      list-style-type: none;

      a {
        padding: 6px;
        line-height: 18px;
        font-size: 18px;
        color: #333;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    //.off-canvas-list {

      .productLink {
        background: $bg-color;
        &:hover, &.active {
          background: darken($bg-color, 5);
        }
      }
      .off-canvas-submenu {
        .productLink {
          background: lighten($bg-color, 10);
          &:hover, &.active {
            background: lighten($bg-color, 5);
          }

        }
        .off-canvas-submenu {
          .productLink {
            background: lighten($bg-color, 20);
            &:hover, &.active {
              background: lighten($bg-color, 15);
            }
          }
          .off-canvas-submenu {
            .productLink {
              background: lighten($bg-color, 30);
              &:hover, &.active {
                background: lighten($bg-color, 25);
              }
            }
            .off-canvas-submenu {
              .productLink {
                background: lighten($bg-color, 40);
                &:hover &.active {
                  background: lighten($bg-color, 35);
                }
              }
            }
          }
        }
      }


    //}
  }
  .link-text, .link-text-single, span.right {
    //color: #333;
    color: #fff;
    padding: 0;
    width: -webkit-calc(100% - 21px);
    width: -moz-calc(100% - 21px);
    width: calc(100% - 21px);
    display: inline-block;
    vertical-align: middle;
  }
  a {
    span.right {
      width: 21px;
    }
  }
}

body {
  background: #ecf0f1;

  #topHeader {
    .top-bar {
      background: #95a5a6;

      li.has-form {
        background: #95a5a6;
      }
      .top_with_link a {
        font-size: 16px;
        background: #2c3e50;
        &:hover, &:active {
          background: #22313F;
        }
      }
    }
  }
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #333333;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
  }
}
@media only screen and (min-width: 40.0625em) {
  .top-bar-section .dropdown li {
    &.two_lines {
      height: 45px;
      a {
        height: 45px;
        text-align: center;
        padding-top: 6px;
        white-space: initial;
        line-height: 16px;
      }
    }
  }
}

.grid-sizer,
.grid-item { width: 10%; }
/* 2 columns */
.grid-item--width2 { width: 30%; }
.grid-item--width3 { width: 20%; }

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .grid-sizer,
  .grid-item { width: 33.333%; }
  /* 2 columns */
  .grid-item--width2 { width: 66.6666%; }
  .grid-item--width3 { width: 33.333%; }} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .grid-sizer,
  .grid-item { width: 20%; }
  /* 2 columns */
  .grid-item--width2 { width: 40%; }
  .grid-item--width3 { width: 20%; }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
