%p
  =t('welcome_to_project')
  ,
%p
  =@resource.email
  \!
%p
  =t('devise.confirmations.You can confirm your account email through the link below')
  \:
%p= link_to t('devise.confirmations.Confirm my account'), confirmation_url(@resource, confirmation_token: @token)

