%p
  =t('Hello')
  =@resource.email
  \!
%p= t('devise.passwords.Someone has requested a link to change your password, and you can do this through the link below')
%p= link_to t('devise.passwords.Change my password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.passwords.If you did not request this, please ignore this email')
%p= t('devise.passwords.Your password will not change until you access the link above and create a new one')
